{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "no-undef": "error",
    "react/no-typos": "error",
    "react/jsx-no-undef": "error"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  }
}
